<div id="header">
  <span id="logo">
    <b>Crush</b>Stream
  </span>
  <span class="nav"> 
    <a href="">Home</a>
  </span>
  <span class="nav">
    <a href="">Profile</a>
  </span>
</div>

<div id="main">
  
  <h1>CrushStream</h1>

  <div id="new_crush_button">Post a Crush</div>
  
  
  <div id="new_crush_box" style="display:none">
    <form method="post" action="/">
  
      <input id="new_post_title" alt="Title" value="Title" 
        class="defaultText" type="text" name="post[title]" /><br/>
    
      <textarea id="new_post_body" alt="omg on cross campus..." class="defaultText"
        name="post[content]">omg on cross campus...</textarea><br/>
    
      <input type="submit" value="Submit!" />
  
    </form>
  </div>
  
  <% for ( var i = 0; i < posts.length; i++ )  { %>
  
    <div class="postbox">
      <h2 class="post_title"><%= posts[ i ].title %></h2>
      <p class="post_body"><%= posts[ i ].content %></p>
      <div class="post_time"><%= posts[ i ].date_display() %></div>
    </div>
  
  
  <% } %>
  
  
</div>
<div id="footer">&copy; FaceCrush 2011 </div>
